.command {
  font-size: 1.2em;
  padding: 12px 40px;
  margin: 12px;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 2px 2px #22ff00;
  font-size: 2em;
  transition: all 0.3s ease;
}

.command:hover {
  background-color: #22ff00;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}

.command:active {
  transform: scale(0.9);
}