@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-family: 'Comic Neue';
  text-shadow: 0 0 8px #91ff00, 0 0 12px #24ff00, 0 0 16px #24ff00;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
